OPENSTACK_UBUNTU_14_IMAGE: '{{ ubuntu_14_image }}'
OPENSTACK_PUBLIC_NET_ID: '{{ public_network_id }}'
OPENSTACK_OAM_NETWORK_ID: '{{  oom_oam_network_id }}'
OPENSTACK_OAM_SUBNET_ID: '{{ oom_oam_subnet_id }}'
OPENSTACK_OAM_NETWORK_CIDR: '{{ oom_oam_subnet_cidr }}'
OPENSTACK_USERNAME: '{{ ansible_env.OS_USERNAME }}'
OPENSTACK_API_KEY: '{{ ansible_env.OS_PASSWORD }}'
OPENSTACK_TENANT_NAME: '{ {oom_project_name }}'
OPENSTACK_TENANT_ID: '{{ oom_tenant_id }}'
OPENSTACK_REGION: '{{ ansible_env.OS_REGION_NAME }}'
{# work only for v3 and not v2.0... #}
OPENSTACK_KEYSTONE_URL: '{{ ansible_env.OS_AUTH_URL[:-2] }}'
OPENSTACK_FLAVOUR_MEDIUM: '{{ os_flavour_medium }}'
OPENSTACK_SERVICE_TENANT_NAME: '{{ os_service_tenant_name }}'
DMAAP_TOPIC: '{{ dmaap_topic }}'
DEMO_ARTIFACTS_VERSION: '{{ demo_artifacts_version }}'